{% if total_price > 0 %}
{% if check_modal %}
<div class="modal-header">
    <div class="row" style="width: 100%; padding-right: 0px">
        <h5 class="modal-title col lead" id="cartModalLabel" style="font-size: 2rem; padding-left: 1.35rem">Корзина</h5>
        <div class="col" align="right" style="padding-right: 0px; margin: auto">
            <a id="clear-cart" onclick="ClearCart()" class="shadow-sm slow-motion a-in-cart" style="font-size: 1.35rem; border-radius: 5px 20px 5px 5px">
                Очистить
            </a>
        </div>
    </div>
</div>
{% endif %}
<div class="modal-body">
    {% for atr in session_cart %}
    <div class="row-in-cart">
        <div class="card-body row">
            <div class="col row name-img-row-cart">
                <div class="col-3 img-cart">
                    <img src="{{ atr.product.image.url }}"
                         class="img-fluid round-edges" style="width: 5rem; height: 5rem; display: none"
                         id="img_modal_{{ atr.product.slug }}{% if atr.product.category.name == 'Пиццы' %}{% if atr.product.price == atr.price %}20{% else %}30{% endif %}{% endif %}"
                         onload="LoadImg(this)">
                    <div id="spinner_img_modal_{{ atr.product.slug }}{% if atr.product.category.name == 'Пиццы' %}{% if atr.product.price == atr.price %}20{% else %}30{% endif %}{% endif %}"
                         style="padding: 1.5rem 0 0 1.5rem; height: 5rem; margin: auto">
                        <div class="spinner-grow" role="status">
                            <span class="visually-hidden">Загрузка...</span>
                        </div>
                    </div>
                </div>
                <p class="lead col name-cart" align="left">
                    {{ atr.product }}
                    {% if atr.product.category.name == 'Пиццы' %}
                        <br><kbd>
                        {% if atr.product.price == atr.price %}
                            20см
                        {% else %}
                            30см
                        {% endif %}
                        </kbd>
                    {% endif %}
                </p>
            </div>
            <div class="col-5 row change-and-price-cart">
                <p class="col name-cart">
                    <a name="in_cart_{{ atr.product.slug }}-{{ atr.price }}" onclick="FProducts(this, '-')" id="a_minus_{{ atr.product.slug }}-{{ atr.price }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 20">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                        </svg>
                    </a>
                    {{ atr.quantity }}
                    <a name="in_cart_{{ atr.product.slug }}-{{ atr.price }}" onclick="FProducts(this, '+')" id="a_plus_{{ atr.product.slug }}-{{ atr.price }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 20">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg>
                    </a>
                </p>
                <p class="lead col name-cart price-cart">
                    <strong id="num_price_in_cart_{{ atr.product.slug }}-{{ atr.price }}" data-name="{{ atr.product.slug }}">{{ atr.price }}</strong> ₽
                </p>
                <p class="col-2 name-cart">
                    <a name="in_cart_{{ atr.product.slug }}-{{ atr.price }}" onclick="FProducts(this, 'del')" id="a_del_{{ atr.product.slug }}-{{ atr.price }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 20">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                        </svg>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <hr class="dropdown-divider">
    {% endfor %}
    <br>
    <div align="right" style="padding-right: 1rem">
        <p class="lead" style="font-size: 2rem">
            Итого: <strong class="modal_total_price">{{ total_price }}</strong> ₽
        </p>
    </div>
</div>
{% if check_modal %}
<div class="modal-footer" >
    <div style="padding: 0.5rem">
        <a href="/order/" class="shadow-sm slow-motion a-in-cart" style="font-size: 1.5rem; border-radius: 5px 5px 20px 5px">
            Заказать
        </a>
    </div>
</div>
{% endif %}
<script>
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        $('.img-cart').css('display', 'none');
        $('.change-and-price-cart').addClass('col').removeClass('col-5');
        $('.price-cart').removeClass('col').addClass('col-4');
    }
</script>
{% else %}
<h1 class="display-5" align="center" style="margin: 3rem">
    Корзина пока пуста, <br>выберите блюда из меню
</h1>
{% endif %}