{% if session_cart %}
<div id="images">
    {% for atr in session_cart %}
    <div style="display: inline-block; margin: 1rem; width: 5rem; height: 5rem" align="center" class="position-relative">
        <img class="row round-edges" src="{{ atr.product.image.url }}" style="width: 5rem; height: 5rem; display: none" onload="LoadImg(this)"
             id="img_order_{{ atr.product.slug }}{% if atr.product.category.name == 'Пиццы' %}{% if atr.product.price == atr.price %}20{% else %}30{% endif %}{% endif %}">
        <div id="spinner_img_order_{{ atr.product.slug }}{% if atr.product.category.name == 'Пиццы' %}{% if atr.product.price == atr.price %}20{% else %}30{% endif %}{% endif %}"
             style="padding: 1.5rem 0 0 1.5rem; height: 5rem; margin: auto">
            <div class="spinner-grow" role="status">
                <span class="visually-hidden">Загрузка...</span>
            </div>
        </div>
        {% if atr.quantity > 1 %}
            <div class="position-absolute top-0 end-0 translate-middle-y">
                <kbd>
                    {{ atr.quantity }}
                </kbd>
            </div>
        {% endif %}
        {% if atr.product.category.name == 'Пиццы' %}
            <kbd style="font-size: 0.7rem">
            {% if atr.product.price == atr.price %}
                20см
            {% else %}
                30см
            {% endif %}
            </kbd>
        {% else %}
            <br>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}