.slow-motion {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.big-but {
    text-decoration: none;
    color: black;
    padding: 4rem 1rem;
    border-radius: 7rem;
}
.big-but:hover {
    background-color: #f906;
    border-radius: 3rem;
    padding: 1rem;
    color: white
}
.soc-big-but {
    text-decoration: none;
    padding: 4rem;
    border-radius: 7rem;
}
.soc-big-but:hover {
    background-color: #f906;
    border-radius: 3rem;
    padding: 1.5rem 1rem;
}
.round-edges {
    border-radius: 2rem
}
.slide-cont {
    max-width: 70rem;
    margin: 0 auto 1rem
}
.img-logo {
    height: 10rem;
    min-width: 10rem;
    padding: 1.5rem
}
.img-logo-bar {
    height: 2.75rem;
    width: 5.5rem;
    margin-right: 4rem
}
.img-logo-bar:hover {
    height: 3rem;
    width: 5.8rem;
    padding: 0.3rem;
}
.img-logo:hover {
    padding: 0.8rem
}
.icon-products {
    max-width: 4rem
}
.a-products {
    text-decoration: none;
    font-size: 1.25rem;
    margin: auto 0.25rem;
}
.a-products:hover {
    font-size: 1.7rem;
    color: #f906;
}
.a-in-cart {
    font-size: 1.25rem;
    padding: 5px 15px 5px 15px;
    border-radius: 5px 5px 5px 20px;
    color: white;
    background-color: black;
    text-decoration: none
}
.a-in-cart:hover {
    color: white;
    background-color: #f906;
}
.a-products:hover .icon-products{
    max-width: 4.15rem
}
.products-cont {
    max-width: 68rem;
    margin: 0 auto 1rem;
    padding: 1.5rem;
}
.big-products-cont{
    min-width: 80%;
    border: 0px;
    background-color: #f8f8f8;
}
.products-bar {
    overflow-x: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    background-color: white;
    padding: 10px
}
.main_card {
    height: 26.5rem;
    width: 19rem;
    margin: auto
}
.cart:hover {
    background-color: #f906;
}
.grid-card {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat  (1, 176rem);
    justify-items: center;
}
.grid-pizza-card {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: repeat(0, 32rem);
    justify-items: center;
}
body {
    min-width: 20rem;
}
.lb_pizza_but {
    width: 58px;
    height: 36px;
    padding: 5px 0 0 0;
    font-size: 1rem
}
.cart {
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 1001;
    opacity: 1;
    border: 0;
    background-color: black;
    padding: 1rem
}
.cart_price {
    font-size: 2rem;
    margin: auto
}
.product-name {
     margin-bottom: 2rem;
     font-size: 1.5rem
}
.product-price {
    font-size: 1.25rem
}
.pizza_card {
    height: 29.75rem;;
    margin: auto
}
.product-category {
    padding-top: 7rem;
    margin-left: 18%
}
.img-products {
    height: 18rem;
    width: 18rem;
    display: none
}
.img-spinner {
    padding: 8rem;
    margin: auto;
    height: 18rem;
    width: 18rem
}
.contacts_and_us {
    margin-right: 6rem
}
.contacts {
    margin-right: 2rem
}
.products-bar::-webkit-scrollbar {
  width: 0;
}
.spinner-promos {
    padding: 9.3rem
}
.row-in-cart {
    margin: 0.5rem auto
}
.img-cart {
    margin: auto
}
.name-cart {
    margin: auto;
    font-size: 2rem
}
.name-cart::kbd {
    font-size: 1.5rem
}
.order-form {
    width: 25rem
}
.soc-button {
    display: inline-block;
    height: 4rem;
    width: 12rem
}
@media screen and (max-width: 768px) {
    .soc-big-but {
        text-decoration: none;
        padding: 4rem;
        padding: 1.5rem 1rem;
    }
    .soc-big-but:hover {
        background-color: #f906;
        border-radius: 3rem;
        padding: 1.5rem 1rem;
    }
    .soc-button {
        width: 5rem
    }
    .order-form {
        width: 100%
    }
    .img-cart {
        width: 5rem;
        height: 5rem
    }
    .name-cart {
        font-size: 1rem
    }
    .spinner-promos {
        padding: 2.8rem
    }
    .cart {
        padding: 0.5rem;
        right: 4%;
        bottom: 2%
    }
    .cart_price {
        font-size: 1.5rem
    }
    .products-bar {
        padding-bottom: 0;
    }
    .img-logo-bar {
        height: 1.7rem;
        min-width: 3rem;
        width: 3.4rem;
        margin-right: 0.5rem
    }
    .img-logo-bar:hover {
        height: 1.7rem;
        min-width: 3rem;
        width: 3.4rem;
        padding: 0;
    }
    .a-products {
        text-decoration: none;
        font-size: 1rem;
        margin: auto 0.15rem;
    }
    .slide-cont {
        margin: 1rem 0 0 0;
    }
    .contacts_and_us {
        margin: 0rem
    }
    .contacts {
        margin: 0rem
    }
    .big-but {
        text-decoration: none;
        color: black;
        padding: 1rem;
        border-radius: 7rem;
        font-size: 1.5rem
    }
    .img-logo {
        height: 3rem;
        min-width: 3rem;
        padding: 0
    }
    .img-spinner {
        padding: 8rem;
        margin: auto;
        height: 18rem;
        width: 18rem
    }
    .img-products {
        height: 18rem;
        width: 18rem;
        display: none
    }
    .main_card {
        width: 100%;
        height: 28rem;
        margin: 0
    }
    .grid-card {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
    .grid-pizza-card {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));    }
    .a-in-cart {
        font-size: 1.75rem
    }
    .product-name {
        font-size: 2rem
    }
    .product-price {
        font-size: 1.35rem
    }
    .pizza_card {
        height: 31rem;
    }
    .product-category {
        font-size: 2rem;
        margin-left: 18%;
        padding-top: 5rem
    }
}
